# Exercise 3: Chipotle

Thanks to [@justmarkham](http://github.com/justmarkham) for providing the `chipotle.tsv` dataset. Further, the exercise format is inspired by [@guipsamora](https://github.com/guipsamora)'s Pandas exercises.

### 1. Import the necessary modules

In [2]:
import pandas as pd

4

### 2. Use `pandas` to download the [`chipotle.tsv` dataset from here](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and store it in a variable called `chipotle`
_Hint_: `tsv` stands for _Tab Sepearated File_. The tab character is `\t`. We need to modify the separator argument. Checkout the [`pandas.read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) documentation.

In [2]:
chipotle = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

### 3. Checkout the first 10 entries of the dataset
_Hint_: The `head()` function accepts an argument

In [3]:
chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4. What is the most-ordered item?

In [4]:
item_name_group = chipotle.groupby("item_name")
summed = item_name_group.sum()
sorted_result = summed.sort_values("quantity", ascending=False)
sorted_result.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### 4.1 For the most-ordered item, print the number of times it was ordered

In [5]:
item_name_group = chipotle.groupby("item_name")
summed = item_name_group.sum()
sorted_result = summed.sort_values("quantity", ascending=False)
top_row = sorted_result.iloc[0]
top_row["quantity"]

761

### 5. What was the most ordered item in the `choice_description` column?

In [6]:
summed = chipotle.groupby("choice_description").sum()
sorted_result = summed.sort_values(["quantity"], ascending=False)
sorted_result.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### 6. Cleanup the data in the `item_price`, i.e., transform it to a float so that we can do calculations based on it

In [15]:
def convert_value(x):
    return float(x[1:-1])

chipotle["item_price"] = chipotle["item_price"].apply(convert_value)

TypeError: 'float' object is not subscriptable

### 6.1 Which item made the most revenue?
_Hint_: Based on the newly available `item_price` we need to find a way to compute the revenue

In [8]:
chipotle["revenue"] = chipotle["quantity"] * chipotle["item_price"]

In [9]:
revenue_per_item = chipotle.groupby("item_name").sum()

In [10]:
sorted_result = revenue_per_item.sort_values("revenue", ascending=False)

In [11]:
sorted_result.head(1)

              order_id  quantity  item_price  revenue
item_name
Chicken Bowl    713926       761     7342.73  8044.63